CONFIG_TARGET_omap=y
CONFIG_TARGET_omap_Default=y
CONFIG_TARGET_BOARD="omap"
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_DEFPROG_LINUX_SPI=y
CONFIG_DRIVER_11N_SUPPORT=y
CONFIG_DRIVER_WEXT_SUPPORT=y
CONFIG_FLASHROM_FTDI=y
CONFIG_FLASHROM_SERIAL=y
CONFIG_FLASHROM_USB=y
CONFIG_FRPROG_BUSPIRATE_SPI=y
CONFIG_FRPROG_FT2232_SPI=y
CONFIG_FRPROG_LINUX_SPI=y
CONFIG_FRPROG_PICKIT2_SPI=y
CONFIG_FRPROG_PONY_SPI=y
CONFIG_FRPROG_SERPROG=y
CONFIG_FRPROG_USBBLASTER_SPI=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_RELAY=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_PACKAGE_ATH_DFS=y
CONFIG_PACKAGE_MAC80211_DEBUGFS=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_PACKAGE_am33x-cm3=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_flashrom=y
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_joe=y
CONFIG_PACKAGE_kmod-ath=y
CONFIG_PACKAGE_kmod-ath9k-common=y
CONFIG_PACKAGE_kmod-ath9k-htc=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-crypto-aes=y
CONFIG_PACKAGE_kmod-crypto-arc4=y
CONFIG_PACKAGE_kmod-crypto-core=y
CONFIG_PACKAGE_kmod-crypto-hash=y
CONFIG_PACKAGE_kmod-eeprom-93cx6=y
CONFIG_PACKAGE_kmod-fs-configfs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-lib-crc-itu-t=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_kmod-net-rtl8188eu=y
CONFIG_PACKAGE_kmod-net-rtl8192su=y
CONFIG_PACKAGE_kmod-rt2500-usb=y
CONFIG_PACKAGE_kmod-rt2800-lib=y
CONFIG_PACKAGE_kmod-rt2800-usb=y
CONFIG_PACKAGE_kmod-rt2x00-lib=y
CONFIG_PACKAGE_kmod-rt2x00-usb=y
CONFIG_PACKAGE_kmod-rt73-usb=y
CONFIG_PACKAGE_kmod-rtl8187=y
CONFIG_PACKAGE_kmod-rtl8192c-common=y
CONFIG_PACKAGE_kmod-rtl8192cu=y
CONFIG_PACKAGE_kmod-rtlwifi=y
CONFIG_PACKAGE_kmod-rtlwifi-usb=y
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_kmod-spi-omap-24xx=y
CONFIG_PACKAGE_kmod-usb-ehci-debug-gadget=y
CONFIG_PACKAGE_kmod-usb-eth-gadget=m
CONFIG_PACKAGE_kmod-usb-gadget=y
CONFIG_PACKAGE_kmod-usb-lib-composite=y
CONFIG_PACKAGE_kmod-usb-musb-hdrc=y
CONFIG_PACKAGE_kmod-usb-musb-platformglue=y
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-kalmia=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-phy-omap-usb2=y
CONFIG_PACKAGE_kmod-usb-phy-twl4030=y
CONFIG_PACKAGE_kmod-usb-phy-twl6030=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-ark3116=y
CONFIG_PACKAGE_kmod-usb-serial-belkin=y
CONFIG_PACKAGE_kmod-usb-serial-ch341=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_PACKAGE_kmod-usb-serial-cypress-m8=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-serial-gadget=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-zd1211rw=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libftdi=y
CONFIG_PACKAGE_libiwinfo=y
CONFIG_PACKAGE_libiwinfo-lua=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libusb-compat=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_mdns=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_picocom=y
CONFIG_PACKAGE_procd-nand-firstboot=y
CONFIG_PACKAGE_r8188eu-firmware=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_ser2net=y
CONFIG_PACKAGE_setterm=y
CONFIG_PACKAGE_tcpdump-mini=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_vim-help=y
CONFIG_PACKAGE_vim-runtime=y
CONFIG_PACKAGE_wpad=y
CONFIG_PACKAGE_zlib=y
# CONFIG_PER_FEED_REPO_ADD_DISABLED is not set
CONFIG_TARGET_EXT4_JOURNAL=y
CONFIG_TARGET_ROOTFS_INCLUDE_DTB=y
CONFIG_TARGET_ROOTFS_INCLUDE_KERNEL=y
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="screwdriver"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NICK=""
CONFIG_VERSION_NUMBER="1.0.0"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="http://repo.fe80.eu/%d/%c/%S/packages"
# CONFIG_FRPROG_DUMMY is not set
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_joe=y
CONFIG_PACKAGE_vim-full=y
CONFIG_PACKAGE_vim-runtime=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_picocom=y
CONFIG_PACKAGE_ser2net=y
CONFIG_PACKAGE_flashrom=y
CONFIG_PACKAGE_lava-tool=y
CONFIG_PACKAGE_lava-dispatcher=y
CONFIG_SDK=y
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_TARGET_ROOTFS_PARTSIZE=128
CONFIG_OPENVPN_polarssl_ENABLE_DEF_AUTH=y
CONFIG_OPENVPN_polarssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_polarssl_ENABLE_HTTP=y
CONFIG_OPENVPN_polarssl_ENABLE_LZO=y
CONFIG_OPENVPN_polarssl_ENABLE_MULTIHOME=y
CONFIG_OPENVPN_polarssl_ENABLE_PF=y
CONFIG_OPENVPN_polarssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_polarssl_ENABLE_SERVER=y
CONFIG_OPENVPN_polarssl_ENABLE_SMALL=y
CONFIG_OPENVPN_polarssl_ENABLE_SOCKS=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libpolarssl=y
CONFIG_PACKAGE_openvpn-polarssl=y
CONFIG_PACKAGE_kmod-cape-manager=y
CONFIG_PACKAGE_kmod-bone-pinmux-helper=y
CONFIG_PACKAGE_kmod-eeprom-at24=y
