CONFIG_TARGET_omap=y
CONFIG_TARGET_omap_Default=y
CONFIG_TARGET_BOARD="omap"
CONFIG_DEVEL=y
CONFIG_BUILD_LOG=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_IMAGEOPT=y
CONFIG_LLDPD_WITH_CDP=y
CONFIG_LLDPD_WITH_CUSTOM=y
CONFIG_LLDPD_WITH_DOT1=y
CONFIG_LLDPD_WITH_DOT3=y
CONFIG_LLDPD_WITH_EDP=y
CONFIG_LLDPD_WITH_FDP=y
CONFIG_LLDPD_WITH_LLDPMED=y
CONFIG_LLDPD_WITH_PRIVSEP=y
CONFIG_LLDPD_WITH_SONMP=y
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_kmod-fs-configfs=y
CONFIG_PACKAGE_kmod-spi-dev=y
CONFIG_PACKAGE_kmod-spi-omap-24xx=y
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpthread=y
CONFIG_PACKAGE_librt=y
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libusb-compat=y
CONFIG_PACKAGE_lldpd=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_tcpdump-mini=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tmux=y
CONFIG_PACKAGE_zlib=y
# CONFIG_PER_FEED_REPO_ADD_DISABLED is not set
CONFIG_TARGET_ROOTFS_INCLUDE_DTB=y
CONFIG_TARGET_ROOTFS_INCLUDE_KERNEL=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="screwdriver"
CONFIG_VERSION_FILENAMES=y
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_NICK=""
CONFIG_VERSION_NUMBER="0.3"
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_REPO="http://repo.fe80.eu/%d/%c/%S/packages"
